.green-color {
    background-color: #336666;
}

.page-color {
    background-color: #ece2b1;
}

.border-color {
    border: 2px #cae4c5;

}

.font-style {
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/** nav portion**/
header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    justify-content: space-evenly;
    backdrop-filter: blur(8px);
     text-shadow: 0px 0px 20px #0a2b2b;

}

nav:hover {

    backdrop-filter: blur(8px);
    border-radius: 20px;


}

nav a {
    text-decoration: none;
    color: #ece2b1;
    font-size: 18px;
    padding: 10px;



}

nav a:hover {
    color: #ece2b1;
    backdrop-filter: blur(8px);
    margin-top: 10px;
    margin: 10px;
    border-radius: 25px;
    padding: 8px;
    font-family: ubuntu, sans-serif;


}
/** nav side **/
.side-nav {
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px #336666;

}

/** main portion **/
main {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-box {
    width: 90%;
    height: 80%;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #336666;

}