.main-background-color {
    background-color: #1A1B1E;
}


.font-style {
    font-family: "Orbitron", sans-serif;
    color: #ffffff;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/** nav portion**/
.nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav {
    width: 35%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    border-radius: 25px;
    background-color: #606469;
    padding: 20px;
    margin: 20px;


}




/** main portion **/
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}


.main-info-blok {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/** info sectie **/


.pic-info-sectie {
    width: 65%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.pic-box {
    width: 30%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.text-box {
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;


}


/*Stack-Portion*/
.stack-stack-sectie {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20 0 20;


}

.stack-show-name {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-info{
        display: flex;
        width: 100%;
        height: 10%;
    }