.main-background-color {
    background-color: #1A1B1E;
}

.page-color {
    background-color: #cfbf6c;
}

.border-color {
    border: 2px #cae4c5;

}

.font-style {
    font-family: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/** nav portion**/
header {
   
}

nav {
 

}




/** main portion **/
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-box {
    width: 88%;
    height: 80%;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 20px #336666;
    position: absolute;
    right: 3%;

}